# Dev requirements
isort==5.5.3
black==20.8b1
pre-commit==2.7.1
bumpversion==0.6.0


# Test requirements
fakeredis==1.4.3
pytest==6.0.2
pytest-runner==5.2
pytest-django==4.0.0
pytest-kind==20.5.3
requests==2.24.0
tox==3.20.0
