# Runtime
pip==20.1.1
watchdog==0.10.3


docker==4.3.1
Django==2.2.16
django-rq-scheduler==1.1.3
django-livesync==0.5
django-constance==2.7.0
django-picklefield==3.0.1
djangorestframework==3.11.1
kubernetes==11.0.0
rq-scheduler==0.10.0
psycopg2==2.7.5
pid==3.0.4

