{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-run-modal">
        Add Run <span data-feather="plus"></span>
    </button>
</div>
<ul class="list-group" id="runs">
    {% for run in runs %}
    <li class="list-group-item"><a href="/runs/{{ run.id }}/">{{ run.name }}</a> {{ run.state }}</li>
    {% endfor %}
</ul>

<div class="modal fade" id="add-run-modal" tabindex="-1" role="dialog" aria-labelledby="add-run-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Run</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="run-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="run-name" required>
                    <div class="invalid-feedback">
                        Please enter a name for this run.
                    </div>
                </div>
                <div class="form-group">
                    <label for="image-name" class="col-form-label">Image:</label>
                    <select class="form-control" id="image-name" required>
                        {% for image, details in images.items%}
                            <option value="{{image}}">{{details.0}}</option>
                        {% endfor %}
                        <option value="custom_image">Custom Image</option>
                      </select>
                    <div class="invalid-feedback">
                        Please select an image.
                    </div>
                </div>
                <div class="form-group collapse" id="custom-image-collapse">
                    <label for="custom-image-name" class="col-form-label">Image:</label>
                    <input class="form-control" id="custom-image-name">
                    <label for="custom-image-command" class="col-form-label">Command:</label>
                    <input class="form-control" id="custom-image-command" data-toggle="tooltip" data-placement="right" title="Available Placeholders:<br><ul><li><b>&#123;hosts&#125;</b> Comma separated list of worker hostnames</li><li><b>&#123;run_id&#125;</b> ID (int) of a run</li><li><b>&#123;rank&#125;</b> The rank of the individual node the command is run on</li></ul>" data-html="true">
                    <label for="custom-image-all-nodes" class="col-form-label">Run on all nodes:</label>
                    <input type="checkbox" class="form-control" id="custom-image-all-nodes" data-toggle="tooltip" data-placement="right" title="Whether to run the command on all workers or only on the first one (e.g. for openmpi)">
                </div>
                <div class="form-group">
                    <label for="num-workers" class="col-form-label">Number of Workers:</label><br>
                    <input id="num-workers" class="form-control" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="{{max_workers}}" data-slider-step="1" data-slider-value="{{max_workers}}"
                        data-slider-ticks="[{{worker_ticks}}]"
                        data-slider-ticks-labels="[{{worker_tick_labels}}]"
                        data-slider-ticks-snap-bounds="{{max_workers}}"/>
                    <span id="num-workers-val">{{max_workers}}</span>
                </div>
                <div class="form-group">
                    <label for="num-cpus" class="col-form-label">Number of CPUs:</label><br>
                    <input id="num-cpus" class="form-control" data-slider-id='ex2Slider' type="text" data-slider-min="1" data-slider-max="{{max_cpus}}" data-slider-step="1" data-slider-value="{{max_cpus}}"/>
                    <span id="num-cpus-val">{{max_cpus}}</span>
                </div>
                <div class="form-group" style="display:none;">
                    <label for="max-memory" class="col-form-label">Memory (Mb):</label><br>
                    <input id="max-memory" class="form-control" data-slider-id='ex3Slider' type="text" data-slider-min="10" data-slider-max="{{max_memory}}" data-slider-step="1" data-slider-value="{{max_memory}}"/>
                    <span id="max-memory-val">{{max_memory}}</span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="add-run-button">Add Run</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({html:true})

        $('#add-run-modal').on('show.bs.modal', function (e) {
            //$('#run-name').val("Run " + new Date().toString());
            $("#custom-image-collapse").collapse("hide");
            $("#image-name").val($("#image-name option:first").val());
        });

        $('.collapse').collapse();

        $("#image-name").change(function(){
            if($("#image-name").val() == "custom_image"){
                $("#custom-image-collapse").collapse("show");
                $("#custom-image-name").prop('required',true);
                $("#custom-image-command").prop('required',true);
            }else{
                $("#custom-image-collapse").collapse("hide");
                $("#custom-image-name").prop('required',false);
                $("#custom-image-command").prop('required',false);
            }
        });

        // sliders
        $("#num-workers").slider({
            min: 1,
            max: {{max_workers}},
            scale: 'logarithmic',
            step: 1
        });
        $("#num-workers").on("slide", function(slideEvt) {
            $("#num-workers-val").text(slideEvt.value);
        });

        $("#num-cpus").slider({});
        $("#num-cpus").on("slide", function(slideEvt) {
            $("#num-cpus-val").text(slideEvt.value);
        });

        $("#max-memory").slider({});
        $("#max-memory").on("slide", function(slideEvt) {
            $("#max-memory-val").text(slideEvt.value);
        });

        $('#add-run-button').click(function(){
            var form = $(".needs-validation")[0];
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                form.classList.add('was-validated');
                return;
            }

            $.post( "api/runs/",
                {
                    name: $('#run-name').val(),
                    num_workers: $('#num-workers').val(),
                    num_cpus: $('#num-cpus').val(),
                    max_memory: $('#max-memory').val(),
                    image_name: $('#image-name').val(),
                    custom_image_name: $('#custom-image-name').val(),
                    custom_image_command: $("#custom-image-command").val(),
                    custom_image_all_nodes: $("#custom-image-all-nodes").is(':checked')
                },
                function( data ) {
                    location.reload();
                });
        });
    })
</script>
{% endblock %}